:root {
    --background: #31343d;
    --transparentBg: rgba(0,0,0,0.5);
    --whiteText: white;
}

body {
    background: var(--background);
}

/* Google Fonts */
.bio {
    color: var(--whiteText);
    font-family: 'Shadows Into Light', cursive;
}

/* Flex Boxing */
.flexRow {
    display: flex;
    margin: 1% 10%; /* Y-axis X-axis */
    flex-direction: row;
    justify-content: center;
}

.flexCol {
    display: flex;
    margin: 1% 10%; /* Y-axis X-axis */
    flex-direction: column;
    align-items: center;
}

.flexRowNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cardLayoutContainer {
    min-height: 75vh;
    padding: 40px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    height: 500px;
    width: 300px;
    margin: 40px;

    transition: .8s;
}

/* Navbar Styling */
.navbar {
    padding: 20px;
    background: red;
}

.navButton:hover {
    background: var(--background);
}

/* About Me Section Styling */ 
.bio h1 {
    font-size: 30px;
}

.bio p {
    font-size: 20px;
}

/* Card Styling */
.card {
    width: inherit;
    height: inherit;

    position: relative;
}

figure {
    z-index: -1;
}

figcaption {
    display: block;

    width: auto;
    padding: 8px 22px;

    color: var(--whiteText);
    background: var(--transparentBg);
    border-radius: 5px;

    position: absolute;
}

.figcaption1 {
    text-align: left;
    margin-bottom: 10%;
    bottom: 0;
    left: 12px;
}

.figcaption2 {
    text-align: center;
    margin-bottom: 10%;
    bottom: 0;
    left: 34%;
}

.figcaption3 {
    text-align: right;
    margin-bottom: 10%;
    bottom: 0;
    right: 12px;
}

img {
    border-radius: 10px;
}

.cardContainer:hover {
    cursor: pointer;
    transform: scale(1.5);
}